{
	on_demand_tls {
		ask http://web:3000/check
		interval 1m
		burst 10
	}
}

*.prose.sh, prose.sh {
	reverse_proxy web:3000
	tls hello@prose.sh {
		dns cloudflare {env.CF_API_TOKEN}
	}
	encode zstd gzip
}

:443 {
	reverse_proxy web:3000
	tls hello@prose.sh {
		on_demand
	}
	encode zstd gzip
}
